Repository Clotonervo/Event-Planner, pull requests merged in 2020-11, with the labels that each got.

#99 Create tabs for event-edit
  client/src/components/Common/Buttons/Button/index.js
  client/src/components/EventEdit/Tabs/Tab/index.js
  client/src/components/EventEdit/Tabs/index.js
  client/src/components/EventEdit/Todo/index.js
  client/src/components/EventEdit/index.js
Labels: client

#95 Updated the /event endpoint to accept req params instead of req body
  README.md
  server/server.js
Labels: backend

#105 Event edit about
  client/src/components/Common/AppBar/index.js
  client/src/components/EventEdit/About/Description/index.js
  client/src/components/EventEdit/About/Invitees/InviteesList/index.js
  client/src/components/EventEdit/About/MapEditor/index.js
  client/src/components/EventEdit/About/index.js
  client/src/components/EventEdit/Header/index.js
  client/src/components/EventEdit/defaultEvent.js
  client/src/components/EventEdit/index.js
  client/src/components/EventView/index.js
  client/src/components/Layout/index.js
  client/src/components/Login/LoginForm/index.js
  client/src/components/Login/SignUpForm/index.js
  client/src/components/Main/index.js
  client/src/pages/error.js
  client/src/pages/event-edit.js
  client/src/pages/event.js
  client/src/services/index.js
  server/server.js
Labels: client

#110 Edit title date
  client/package-lock.json
  client/package.json
  client/src/components/Common/Date/index.js
  client/src/components/Common/DateEditable/index.js
  client/src/components/Common/InputEditable/index.js
  client/src/components/Common/InputFormField/index.js
  client/src/components/EventEdit/Header/index.js
  client/src/components/EventEdit/index.js
Labels: client

#115 Event edit functionality
  client/src/components/Common/ActionPrompt/index.js
  client/src/components/Common/DateEditable/index.js
  client/src/components/Common/InputEditable/index.js
  client/src/components/EventEdit/About/Description/index.js
  client/src/components/EventEdit/About/Invitees/AddInviteeModal/index.js
  client/src/components/EventEdit/About/Invitees/InviteeListItem/index.js
  client/src/components/EventEdit/About/Invitees/InviteesList/index.js
  client/src/components/EventEdit/About/MapEditor/index.js
  client/src/components/EventEdit/About/index.js
  client/src/components/EventEdit/Header/index.js
  client/src/components/EventEdit/defaultEvent.js
  client/src/components/EventEdit/index.js
  client/src/components/Main/EventsSection/EventCard/index.js
  client/src/pages/index.js
  client/src/services/index.js
  server/database_script.js
  server/server.js
Labels: client, needs qa

#122 colors passed as params
  client/src/components/EventEdit/Header/index.js
  client/src/components/EventEdit/index.js
  client/src/components/EventView/index.js
  client/src/components/Main/EventsSection/Events/index.js
  client/src/components/Main/index.js
  client/src/services/ColorService/index.js
Labels: client

#129 event view/location component
  client/src/components/EventView/Location/index.js
  client/src/components/EventView/index.js
Labels: client
